#temas
  %h1 TEMAS
  
  = select_tag :tema, options_from_collection_for_select(Topic.all, 'name','name', ((params[:search].nil?)? "" :  params[:search][:name_contains])), :include_blank => 'temas'

  - @temas.each do |tema|
    -unless tema.promises.blank?
      .temas-container
        .tema-sidebar
          Propuestas de:
          %span.tema-title
            = tema.name.humanize
          = tema.promises.count
          Propuestas presentadas
        #promesas
          = render :partial => 'promesas/promesa', :collection => tema.promises
  - if params[:search] and params[:search][:name_contains] and @temas.first.promises.blank?
    %h2 
      No existen promesas con el tema
      = params[:search][:name_contains]