.row

  %h1= @topic.name.titleize

  .span11.columns
    - @promises.each do |promise|
      .well.floatLeft
        %h3= link_to promise.title, alcalde_promesa_path(promise.official, promise)
        .span2.columns
          = image_tag 'document_64.png'
        .span8.columns
          = promise.description
    
  .span5.columns
    = render :partial => 'shared/search'
    = render :partial => 'shared/topics'