.well.row
  %h3
    = official.name
  
  .span4.columns
    = image_tag official.photo(:profile)
  .span4.columns
    %p
      %b Puesto:
      = official.position_name
    %p
      %b Estado:
      = official.state.name
    -if official.province
      %p
        %b Provincia:
        = official.province.name
    %p
      = link_to_official official