- if official
  .well.row
    %h3
      = link_to_official official, official.name
  
    .span4.columns
      = link_to_official official, image_tag(official.photo(:profile))
    .span4.columns
      %p
        %b Puesto:
        = official.position_name
      %p
        %b Estado:
        = official.state.name
      -if official.province
        %p
          %b Provincia:
          = official.province.name
      %p
        = link_to_official official