.clearfix
  = form.label :nombre
  .input
    = form.text_field :name, :class => 'xxlarge'

.clearfix
  = form.label :posicion
  .input
    = form.select :position, official_positions, { :include_blank => true }
    
.clearfix
  = form.label :region
  .input
    = form.select :state_id, @states, { :include_blank => true }

.clearfix
  = form.label :provincia
  .input
    = form.select :province_id, @provinces, { :include_blank => true}, {:class => provinces_class(form.object), :disabled =>  provinces_disabled?(form.object)}

.clearfix
  = form.label :dni
  .input
    = form.text_field :dni, :class => 'xxlarge'

.clearfix
  = form.label 'fecha de nacimiento'
  .input
    = form.text_field :birthday, :class => 'xxlarge'

.clearfix
  = form.label 'datos complementarios'
  .input
    = form.text_field :supplementary_data, :class => 'xxlarge'
    
.clearfix
  = form.label 'hoja de vida'
  .input
    = form.text_field :resume, :class => 'xxlarge'
    
.clearfix
  = form.label :fotografia
  .input
    = form.file_field :avatar
    = form.hidden_field :avatar_cache