.row
  .span11.columns
    = image_tag 'peru.png', :usemap => "#peru_map"
  .span5.columns
    = render :partial => 'shared/search'

  - State.all.each_with_index do |state,index|
    .province{:id => name_to_function(state.name)}
      - state.provinces.each do |province|
        .span7.columns.alert-message.block-message.info.title_box
          .span2.columns
            = image_tag province.official.avatar.url(:thumb)
          .span4.columns
            %h3= link_to province.official.name, alcalde_path(province.official)
            %p
              %b Provincia:
              = province.name
            

= render :partial => 'shared/mapa'