%h1= @official.name

#official_photo
  = image_tag @official.photo(:profile)
#official_info
  %p
    %b Puesto:
    = @official.position_name
  %p
    %b Estado:
    = @official.state.name
  -if @official.province
    %p
      %b Provincia:
      = @official.province.name
  %p
    %b Partido Politico:
    = @official.political_party_name
  %p
    %b DNI:
    = @official.dni
  
  %p
    %b Fecha de nacimiento:
    = @official.birthday
  %p
    %b Hoja de vida:
    = link_to 'Click para ir', @official.resume, :target => '_blank'

.sidebar-box
  = @official.supplementary_data

.sidebar-box
  %h2 Promesas
  - @official.promises.each do |promise|
    .flecha_promesa
      = image_tag 'flecha_promesas.png'
    .promesa_link
      %h3= link_to promise.title, promesa_path(promise.slug)