= form_for Promise.search, :url => promesas_path do |form|

  = select_tag('buscar_por', options_for_select([['Buscar Por','buscar_por'], ['Promesa','promesa'], ['Representante','representante'], ['Region','region'], ['Partido','partido'], ['Tema','tema'], ['Dias de progreso','dias_progreso']]), :class => 'buscar_por')

  = form.text_field :title_contains

  = form.text_field :official_name_contains, :class => 'hidden', :disabled => :disabled

  = form.text_field :official_state_name_contains, :class => 'hidden', :disabled => :disabled
  
  = form.text_field :official_political_party_name_contains, :class => 'hidden', :disabled => :disabled
  
  = form.text_field :topics_contains, :class => 'hidden', :disabled => :disabled
  
  = form.text_field :dias_progreso_contains, :class => 'hidden', :disabled => :disabled

  = form.submit 'Buscar', :class => 'button'
