- official = comment.commentable.official if comment.government?
- state = comment.commentable.official_state_name.humanize
.comment
  %p.top
    %span.title 
      - if comment.government?
        = link_to official.name, promesas_filters_path(:official, official.name)
      - else
        - promesas_temas(comment.commentable)
    %span.region= link_to state, promesas_filters_path(:state, state) unless comment.government?
    %span.date= comment.created_at.to_s(:date)
    - if comment.government?
      %br
      %span.gobierno
        Gobierno de
        = link_to (official.province ? official.province_name : official.state_name), (official.province ? promesas_filters_path(:province, official.province_name) : promesas_filters_path(:state, official.state_name))
  %p.comment_content
    = "\"#{comment.comment}\""
  %span.compartir 
    .share-fb
      <a name="fb_share" type="button" share_url="#{promesa_url(comment.commentable.slug)}">Enviar</a>
    .share-tw
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-lang="es">Tweet</a>