#banner
  = image_tag 'mide.png'
  = image_tag 'accelerometer.png'
  

#vp_title
  %h1 Vox Populi
#od_title
  %h1 Declaraciones Oficiales
#peru_title
  %h1 Perú

#vox_populi
  = render :partial => 'comment', :collection => @citizens

#official_declaration
  = render :partial => 'comment', :collection => @government

#peru
  = image_tag 'peru_home.png'
  .encuentra
    encuentra tus representantes y mide sus promesas