.well
  = link_to 'x','', :class => 'close'
  .clearfix
    = milestone_form.label :nombre
    .input
      = milestone_form.text_field :name, :class => 'xxlarge'
  .clearfix
    = milestone_form.label :descripcion
    .input
      = milestone_form.text_area :description, :class => 'xxlarge', :rows => '5'