%tr
  %td= link_to promise.title, admin_official_promise_path(@official, promise)
  %td= promise.description
  %td= promise.official_name
  %td= link_to 'Editar', edit_admin_official_promise_path(@official, promise)
  %td= link_to 'Borrar', admin_official_promise_path(@official, promise), :method => :delete, :confirm => '¿Esta seguro que desea eliminar la promesa?'