.page-header
  %h1 Promesa

%h2= @promise.title

%p
  = @promise.description
%p
  %strong
  Iniciada hace
  = time_ago_in_words(@promise.started_at)
  
.page-header
  %h3 Hitos

#milestones
  %ul
    - @promise.milestones.each do |milestone|
      %li
        = link_to milestone.name, "##{milestone.id}"

  = render :partial => 'show_milestone', :collection => @promise.milestones
        
%script
  $(document).ready(function(){
  $("#milestones").tabs();
  })