.page-header
  %h4 Agrega tu comentario

= form_for milestone.comments.build, :url => hito_comentario_path(milestone) do |form|
  .clearfix
    = form.label :nombre
    .input
      = form.text_field :author, :class => 'xlarge'
      
  .clearfix
    = form.label :commentario
    .input
      = form.text_area :comment, :class => 'xlarge', :rows => 7
      
  .actions
    = form.submit 'Crear', :class => 'btn primary'
    %input{:type => 'reset', :class => 'btn', :value => 'Limpiar'}