%span.estado Agrega tu comentario

= form_for promise.comments.build, :url => hito_comentario_path(@promise) do |form|
  .nombre
    = form.label :nombre
    .input
      = form.text_field :author, :class => 'xlarge'

  .titulo
    = form.label :titulo
    .input
      = form.text_field :title, :class => 'xlarge'
  
      
  .ta_comment
    = form.label :commentario
    .input
      = form.text_area :comment, :class => 'xlarge', :rows => 7
      
  .actions
    = form.submit 'Crear', :class => 'button'
    %input{:type => 'reset', :class => 'button', :value => 'Limpiar'}