.comment{:class => "#{comment.kind}"}
  .comment_content
    %p.promesa_top
      %span.author= (comment.government?)? "Respuesta de Gobierno" : comment.author
      %span.fecha= comment.created_at.to_s(:date)
    %p.title= comment.title
    %p.the_comment= "\"#{comment.comment}\""
  