.promesa
  %p.promesa_top
    %span.region
      = link_to promesa.official_state_name.humanize, promesas_filters_path(:state, promesa.official_state_name.humanize)
    %span.fecha
      = promesa.created_at.to_s(:date)
  %p
    %span.title= link_to promesa.title_scaped.humanize, promesa_path(promesa.slug)
  %p.topic
    - promesas_temas(promesa)
  %p.descripcion= promesa.description_scaped 
  %p
    .compartir
      .share-fb
        <a name="fb_share" type="button" share_url="#{promesa_url(promesa.slug)}">Enviar</a>
      .share-tw
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-lang="es">Tweet</a>
.arrow
.status
  .representante
    = image_tag promesa.official_avatar_url, :class => 'foto_representante'
    %span.nombre_representante= link_to promesa.official_name, promesas_filters_path(:official, promesa.official_name)
    %span.partido_representante= promesa.official_political_party_name
  .promesa_status
    .dias_progreso
      %span.numero= promesa.days_started
      %span.progreso Progreso
    .dias_progreso
      %span.dias Dias
    .hito
      = image_tag hito_actual(promesa)
      %span.progreso Etapa/Hito