#show-promesa
  %h1= @promise.title
  .sidebar-box= @promise.description
  
  .funcionario
    .fotografia
      = image_tag @promise.official.avatar_url
    .info
      %p
        %strong Representante:
        = @promise.official.name

      %p
        %strong Partido:
        = @promise.official.political_party.name
  
  .sidebar-box
    %h2 Hitos
    
    - @promise.milestones.each_with_index do |milestone,index|
      .hito_header{:id => "hito_header_#{index}"}
        = milestone.name
        %br
        = milestone.description
      .hito_counter{:id => "hito_counter_#{index}"}
        = milestone_states(milestone)
        = started_at_in_words(milestone)
      .hito_content{:id => "hito_content_#{index}"}
        .citizen_comments
          %h3 Ciudadanos
          = render :partial => 'comment', :collection => milestone.comments.citizens_approved
        .goverment_comment
          %h3 Gobierno
          = render :partial => 'comment', :collection => milestone.comments.government
        = render :partial => 'comment_form', :locals => {:milestone => milestone}
    
    
%script
  $(document).ready(function(){
  $("#milestones").tabs();
  })