#show-promesa
  %h1= @promise.title
  .sidebar-box= @promise.description
  
  .funcionario
    .fotografia
      = link_to_official(@promise.official, image_tag(@promise.official_avatar_url))
    .info
      %h2= link_to_official @promise.official, @promise.official_position_name
      %p
        %strong Representante:
        = @promise.official_name

      %p
        %strong Partido:
        = @promise.official_political_party_name
  
  .sidebar-box
    %h2 Hitos
    
    - @promise.milestones.each_with_index do |milestone,index|
      .hito_header{:id => "hito_header_#{index}", :class => "#{(milestone.new?)? 'hito_header_new' : '' }"}
        = milestone.name
        %br
        = milestone.description
      .hito_counter{:id => "hito_counter_#{index}", :class => "#{(milestone.new?)? 'hito_counter_new' : '' }"}
        = milestone_states(milestone)
    .promesa_counter
      - promesa_state(@promise)
      
  
  .sidebar-box
    %h2 Comentarios
    .citizen_comments
      %h3 Ciudadanos
      = render :partial => 'shared/comment', :collection => @promise.comments_citizens_approved
    .goverment_comment
      %h3 Gobierno
      = render :partial => 'shared/comment', :collection => @promise.comments_government
    = render :partial => 'comment_form', :locals => {:promise => @promise}
    
%script
  $(document).ready(function(){
  $("#milestones").tabs();
  })