#show-promesa
  .promesa_titulo
    %h1 Promesas
    
  .promesa_estado_titulo
    %h1 Promesas del mismo candidato
    
  .promesa
    %p.promesa_top
      %span.region
        = @promise.official_state_name.humanize
      %span.fecha
        = @promise.created_at.to_s(:date)
        
    %span.title= @promise.title
    
    %p.topic
      Promesa de 
      - @promise.topics.each do |topic|
        =  topic.name.humanize
    
    .representante
      = image_tag @promise.official_avatar_url, :class => 'foto_representante'
      %span.nombre_representante= @promise.official_name
      %span.partido_representante= @promise.official_political_party_name
      
      .promesa_status
        .dias_progreso
          %span.numero= @promise.days_started
        .dias_progreso
          %span.dias Dias
    
    %p.descripcion= @promise.description_scaped 
    
    %span.estado ETAPA/HITO
    
    %ul#hito
      %li.no-border
        - hito_imagen(1, @promise)
      %li
        - hito_imagen(2, @promise)
      %li
        - hito_imagen(3, @promise)
      %li
        - hito_imagen(4, @promise)
      %li
        - hito_imagen(5, @promise)
    
    .share
      - comentarios_count(@promise)
  
      %span.ver_mas= link_to 'COMENTAR >>', '#', :id => 'do_comment'

      %span.compartir.st_sharethis_custom
        Compartir
        = image_tag 'share.png'      

    .post_comment
      = render :partial => 'comment_form', :locals => {:promise => @promise}
    
    = render :partial => 'comment', :collection => @promise.comments.available_comments

  .promesas_candidato
    - @promise.official_promises.each do |promise|
      .representante_promesa
        %p.promesa_top
          %span.fecha= promise.created_at.to_s(:date)
        %span.title= promise.title[0,20]
        %p.topic
          Promesa de 
          - promise.topics.each do |topic|
            =  topic.name.humanize

        %p.descripcion= promise.description_scaped
        
        .share
          - comentarios_count(promise)
          %span.ver_mas= link_to 'VER MÃS >>', promesa_path(promise.slug)    
    
%script
  $(document).ready(function(){
  $("#milestones").tabs();
  })