!!! 5
%html
  %head
    %title
      Promesometro
      =h yield(:title)
    = raw(stylesheet_link_merged(:base))
    %link{:href => 'http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300|Anton', :rel => 'stylesheet', :type => 'text/css'}
    <!--[if IE]>
    %link{:href => "/stylesheets/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    <![endif]-->
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js'
    = raw(javascript_include_merged(:base))
    = csrf_meta_tag
    
    %script{:type => "text/javascript"}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26368322-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{:class => "#{controller.controller_name}"}
    #container
      %header
        = link_to image_tag('logo.png', :id => 'logo'), root_path
        %nav
          %ul
            %li.no-border= link_to 'Promesas', directorio_path
            %li= link_to 'Acerca de', acerca_de_index_path
            %li= link_to 'Contacto', new_contacto_path
          %ul.follow_us
            %li Siguenos en:
            %li
              %span
                = link_to image_tag('facebook.png'), 'http://www.facebook.com/pages/Promesometro/219767341418599', :target => '_blank'
            %li
              %span
                = link_to image_tag('twitter.png'), 'http://www.twitter.com/promesometroPE', :target => '_blank'

        #search_box
          - unless controller.controller_name == 'home'
            = render :partial => 'shared/search'  
      .content
        = yield

      %footer
        %nav
          %ul
            %li.no-border= link_to 'Promesas', promesas_path
            %li= link_to 'Directorio', directorio_path
            %li= link_to 'Contacto', new_contacto_path
            %li= link_to 'Acerca De', acerca_de_index_path
            %li.no-border.logo= link_to(image_tag('citivox.png'), 'http://citivox.com/', :target => '_blank')
            %li.no-border.logo= link_to(image_tag('proetica.png'), 'http://www.proetica.org.pe/', :target => '_blank')
            %li.no-border &copy; Todos los derechos reservados