!!! 5
%html
  %head
    %title
      Promesometro
      =h yield(:title)
    = raw(stylesheet_link_merged(:base))
    %link{:href => 'http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300|Anton', :rel => 'stylesheet', :type => 'text/css'}
    <!--[if IE]>
    %link{:href => "/stylesheets/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    <![endif]-->
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js'
    = raw(javascript_include_merged(:base))
    = csrf_meta_tag
    
    %script{:type => "text/javascript"}
      var switchTo5x=true; 
    %script{:type => "text/javascript", :src => "http://w.sharethis.com/button/buttons.js"}
    %script{:type => "text/javascript"}
      stLight.options({publisher:'b5802b77-9845-4a65-b000-ac9254f908c5'});
    
  %body{:class => "#{controller.controller_name}"}
    #container
      %header
        = link_to image_tag('logo.png', :id => 'logo'), root_path
        %nav
          %ul
            %li.no-border= link_to 'Inicio', root_path
            %li= link_to 'Promesas', promesas_path
            %li= link_to 'Directorio', directorio_path
            %li= link_to 'Contacto', directorio_path
          %ul.follow_us
            %li Siguenos en:
            %li
              %span
                = link_to image_tag('facebook.png'), 'http://www.facebook.com', :target => '_blank'
            %li
              %span
                = link_to image_tag('twitter.png'), 'http://www.twitter.com', :target => '_blank'
        #search_box
          - unless controller.controller_name == 'home'
            = render :partial => 'shared/search'  
      .content
        = yield

      %footer
        %nav
          %ul
            %li.no-border= link_to 'Inicio', root_path
            %li= link_to 'Promesas', promesas_path
            %li= link_to 'Directorio', directorio_path
            %li= link_to 'Contacto', ''
            %li.no-border.logo= image_tag 'citivox.png'
            %li.no-border.logo= image_tag 'proetica.png'
            %li.no-border &copy; Todos los derechos reservados